fastapi
uvicorn[standard]
pytesseract
Pillow
python-multipart
PyMuPDF
easyocr
numpy
llama-index-core
llama-index-readers-file
# torch==2.3.0+cu118 --index-url https://download.pytorch.org/whl/cu118
# torchvision==0.18.0+cu118 --index-url https://download.pytorch.org/whl/cu118
# torchaudio==2.3.0+cu118 --index-url https://download.pytorch.org/whl/cu118